.eva-button {
	font-weight: 700;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
}

.eva-button--primary {
	color: white;
	background-color: #1ea7fd;
}

.eva-button--secondary {
	color: #6ba1ff;
	background-color: #1a1d20;
}

.eva-button--sm {
	font-size: 12px;
	padding: 10px 16px;
}

.eva-button--md {
	font-size: 14px;
	padding: 11px 20px;
}

.eva-button--lg {
	font-size: 16px;
	padding: 12px 24px;
}

.eva-button--w-full {
	width: 100%;
}
